<p id="notice"><%= notice %></p>
<div class="content">
  <h1>our blog</h1>
    <% @articles.each do |article| %>

      <div class="blog-title"><%= article.title %></div>
      <div class="blog-date"><%= article.date %></h4>
      <div><%= truncate(article.text, :length => 500, :seperator => ' ...') %></div>
      <div><%= link_to 'Read More', article, class: "btn btn-forms btn-readmore" %></div>

      <hr>

      <%= link_to 'Edit', edit_article_path(article), class: "btn btn-forms" %>
      <%= link_to 'Destroy', article, class: "btn btn-forms", method: :delete, data: { confirm: 'Are you sure?' } %>

      <% end %>


  <br>
  <div class="col-sm-12">
    <%= link_to 'New Article', new_article_path, class: "btn btn-forms" %>
  </div>
</div>
