<p id="notice"><%= notice %></p>
<div class="content">
	<div class="blog-title"><%= @article.title %></div>
	<div class="blog-date"><%= @article.date %></div>
	<div class="blog-text"><%= @article.text %></div>
	<br>

	<% if user_signed_in? %>
    <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-forms" %>
  <% end %>
	
	<%= link_to 'Back to blogs', articles_path, class: "btn btn-readmore" %>
</div>